body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   background: #0f0f10;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  min-height: 100vh;
  color: white;
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}
article,section{
    width: 30%;
    background: rgba(40, 40, 40, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.08);    
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 0 20px 20px 20px;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#checkbox{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.title{
    display: flex;
    gap:12px;
}
.title h2{
    font-size: 20px;
    font-weight: 600;
}
.indication{
    background: rgba(239, 68, 68, 0.2);
    color: #f87171;
    padding: 3px 6px;
    border-radius: 10px;
    font-size: 13px;
}
p{
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 20px;
}
.footer{
    display: flex;
    gap: 20px;
    padding: 0 20px;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
}
.time-remaining{
    background: rgba(245, 158, 11, 0.2);
    color: #fbbf24;;
    padding: 3px 6px;
    border-radius: 10px;
}
ul{
    list-style: none;
    display: flex;
    gap: 17px;
    justify-self: center;
}
li{
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 3px 8px;
    border-radius: 15px;
    font-size: 11px;
    font-weight: 500;
}
button,input,textarea,select{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}
option{
    background-color: rgba(40, 40, 40, 0.6);
}
#popup{
    display: none;
    position: absolute;
}
#warning{
    display: none;
}
form{
    display: flex;
    flex-direction: column;
}
.flexed-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}
.column{
    display: flex;
    flex-direction: column;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    padding-top: 1rem;
}
label{
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    padding-top: 0.5rem;
}
@media screen and (max-width:425l-opx) {
    article{
        width: 80%;
    }
}
@media screen and (min-width:768px){
    article{
        width: 50%;
    }
}
